@using Web_DungCuHocTap.Models
@{
    ViewBag.Title = "Cart";
    var session = Session["CartItem"] as List<CartModel>;
}

<section class="main-content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- BSTORE-BREADCRUMB START -->
                <div class="bstore-breadcrumb">
                    <a href="@Url.Action("Index", "Home")">HOMe</a>
                    <span><i class="fa fa-caret-right	"></i></span>
                    <span>GIỎ HÀNG</span>
                </div>
                <!-- BSTORE-BREADCRUMB END -->
            </div>
        </div>
        <div class="row">
            @if (session != null)
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- SHOPPING-CART SUMMARY START -->
                    <h2 class="page-title">
                         <span class="shop-pro-item">
                            Your shopping cart
                            contains: <span style="color: #ff0000;">@session.Count</span> item(s)
                        </span>
                    </h2>
                    <!-- SHOPPING-CART SUMMARY END -->
                </div>

                decimal total = 0, subtotal = 0;
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="cart-summary">
                            <thead>
                                <tr>
                                    <th class="cart-product">ID</th>
                                    <th class="cart-product">Product</th>
                                    <th class="cart-description">Description</th>
                                    <th class="cart-unit text-right">Unit price</th>
                                    <th class="cart_quantity text-center">Qty</th>
                                    <th class="cart-delete">Options</th>
                                    <th class="cart-total text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in session)
                                {
                                    subtotal = 0;
                                    <tr>
                                        <td class="cart_quantity text-center">
                                            <span>@item.SP.MaSP</span>
                                        </td>
                                        <td class="cart-product">
                                            <a href="@Url.Action("ChiTietSanPham", "Shop", new {id = item.SP.MaSP})">
                                                <img alt="@item.SP.TenSP" src="@item.SP.AnhSP_1">
                                            </a>
                                        </td>
                                        <td class="cart-description">
                                            <p class="product-name">
                                                <a href="@Url.Action("ChiTietSanPham", "Shop", new {id = item.SP.MaSP})">
                                                    @item.SP.TenSP
                                            </a>
                                        </p>
                                    </td>
                                    <td class="cart-unit">
                                        <ul class="price text-right">
                                            <li class="price">@item.SP.GiaSP.ToString("#,##0") vnđ</li>
                                        </ul>
                                    </td>
                                    <td class="cart_quantity text-center">
                                        <div class="cart-plus-minus-button">
                                            <span>@item.Quantity</span>
                                        </div>
                                    </td>
                                    <td class="cart-delete text-center">
                                        <span>
                                            <a href="@Url.Action("DeleteItem", "Cart", new {
                                                    id = item.SP.MaSP,
                                                    url = Request.Url.AbsoluteUri
                                                })" class="cart_quantity_delete" title="Delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </span>
                                    </td>
                                    @{
                                        subtotal = (item.SP.GiaSP * item.Quantity);
                                        total += subtotal;
                                    }
                                    <td class="cart-total">
                                        <span class="price">@subtotal.ToString("#,##0") vnđ</span>
                                    </td>

                                </tr>
                            }
                            </tbody>
                            <!-- TABLE BODY END -->
                            <!-- TABLE FOOTER START -->
                            <tfoot>
                                <tr class="cart-total-price">
                                    <td class="cart_voucher" colspan="3" rowspan="4"></td>
                                    <td class="text-right" colspan="3">Total products (tax excl.)</td>
                                    <td id="total_product" class="price" colspan="1">@total.ToString("#,##0") đ</td>
                                </tr>
                                <tr>
                                    <td class="total-price-container text-right" colspan="3">
                                        <span>Total</span>
                                    </td>
                                    <td id="total-price-container" class="price" colspan="1">
                                        <span id="total-price">@total.ToString("#,##0") đ</span>
                                    </td>
                                </tr>
                            </tfoot>
                            <!-- TABLE FOOTER END -->
                        </table>
                        <!-- TABLE END -->
                    </div>
                    <!-- CART TABLE_BLOCK END -->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="first_item primari-box mycartaddress-info">
                        <!-- SINGLE ADDRESS START -->
                        <ul class="address">
                            <li>
                                <h3 class="page-subheading box-subheading">
                                    Delivery address (BootExperts Office)
                                </h3>
                            </li>
                            <li><span class="address_name">BootExperts</span></li>
                            <li><span class="address_company">Web development Company</span></li>
                            <li><span class="address_address1">Bonossri</span></li>
                            <li><span class="address_address2">D-Block</span></li>
                            <li><span class="">Rampura</span></li>
                            <li><span class="">Dhaka</span></li>
                            <li><span class="address_phone">+880 1735161598</span></li>
                            <li><span class="address_phone_mobile">+880 1975161598</span></li>
                        </ul>
                        <!-- SINGLE ADDRESS END -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="second_item primari-box mycartaddress-info">
                        <!-- SINGLE ADDRESS START -->
                        <ul class="address">
                            <li>
                                <h3 class="page-subheading box-subheading">
                                    Invoice address (BootExperts Home)
                                </h3>
                            </li>
                            <li><span class="address_name">BootExperts</span></li>
                            <li><span class="address_company">Web development Company</span></li>
                            <li><span class="address_address1">Dhaka</span></li>
                            <li><span class="address_address2">Bonossri</span></li>
                            <li><span class="">Dhaka-1205</span></li>
                            <li><span class="">Rampura</span></li>
                            <li><span class="address_phone">+880 1735161598</span></li>
                            <li><span class="address_phone_mobile">+880 1975161598</span></li>
                        </ul>
                        <!-- SINGLE ADDRESS END -->
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- RETURNE-CONTINUE-SHOP START -->
                    <div class="returne-continue-shop">
                        <a href="index.html" class="continueshoping">
                            <i class="fa fa-chevron-left"></i>Continue
                            shopping
                        </a>
                        <a href="checkout-signin.html" class="procedtocheckout">
                            Proceed to checkout<i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                    <!-- RETURNE-CONTINUE-SHOP END -->
                </div>
            }
            else
            {
                <h1>Gior hang trong'</h1>
                <a href="#">Go to shop</a>
            }
        </div>
    </div>
</section>

